/* TodoItem.css */

.TodoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.TodoItem .left,
.TodoItem .right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.TodoItem .left span {
  font-size: 16px;
}

.TodoItem .date {
  color: #666;
  margin-right: 8px;
}

.TodoItem button {
  border: 1px solid #bbb;
  padding: 4px 8px;
  border-radius: 4px;
  color: #666;
}

.TodoItem button:hober {
  color: #222;
}

.TodoItem.active .content,
.TodoItem.active .data {
  text-decoration: line-through;
}

.TodoItem .update-form {
  position: absolute;
  top: 12px;
  left: 0;
  display: flex;
  width: 100%;
  gap: 8px;
  background-color: #fff;
}

.TodoItem .update-form input {
  flex: 1;
  box-sizing: border-box;
  height: 24px;
  border: 1px solid #ccc;
  padding: 0 12px;
}
