.ProductItem .thumbnail{
    margin-bottom: 12px;
}
.ProductItem .thumbnail img{
    width: 100%;
    height: auto;
}
.ProductItem .name{
    margin-bottom: 8px;
    color: #555;
}
.ProductItem .price{
    display: flex;
    gap: 6px;
    font-size: 15px;
}
.ProductItem .price .discount{
    font-weight: 600;
    color: var(--color-point);
}
.ProductItem .price .sale-price{
    color: #333;
}
.ProductItem .price .sale-price .number{
    font-weight: 500;
}
.ProductItem .price .original-price{
    padding-top: 2px;
    color: #777;
    text-decoration: line-through;
    font-size: 14px;
}