.ListPage .list-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 12px 24px;
}
.ListPage .list-top select {
  width: 88px;
  height: 32px;
  border: 1px solid #ccc;
  margin-left: 4px;
}

.ListPage .btn-go-create {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 500;
}

.ListPage .btn-go-create a {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--primary-color);
  text-align: center;
  font-size: 20px;
  color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  line-height: 1.1;
  font-weight: 600;
  padding-top: 14px;
}
