.SearchForm{
    width: 480px;
    margin: 0 auto;
    border-bottom: 1px solid #555;
}
.SearchForm input{
    width: 432px;
    height: 40px;
    padding: 0 4px;
    border: 0;
}
.SearchForm button{
    width: 40px;
    height: 40px;
}